<div align="center">
  <br />
  <br />
  <h1>Welcome to the To-Do List Welcome Page!</h1>
  <h2>
    <%= link_to "Please Sign In", new_user_session_path %> 
  </h2>
  <br />
  <h3>No Account, Yet?</h3>
  <%= link_to "Sign Up Here", new_user_registration_path %>
  <br />
</div>
